<!-- Contact Info -->
<div id="contact_buttons">
    <footer>
        <p>Made by {{ $.Site.Data.config.name }} using <a href="https://github.com/jackyzha0/quartz">Quartz</a>, © {{ dateFormat "2006" now }}</p>
        {{ if not .IsHome }}
        <a href="/">Home</a>
        {{end}}
        {{- range $.Site.Data.config.links -}}
        <a href="{{.link}}">{{.link_name}}</a>
        {{- end -}}
        <a href="https://webring.wonderful.software#YOUR.DOMAIN" title="วงแหวนเว็บ">
          <img
            alt="วงแหวนเว็บ"
            width="32"
            height="32"
            src="https://webring.wonderful.software/webring.black.svg"
          />
        </a>
    </footer>
</div>
