<!-- Contact Info -->
<div id="contact_buttons">
    <footer>
        <p>Made by {{ $.Site.Data.config.name }} using <a href="https://github.com/jackyzha0/quartz">Quartz</a>, © {{ dateFormat "2006" now }}</p>
        <ul>
            {{ if not .IsHome }}
            <li><a href="{{ $.Site.BaseURL}}">Home</a></li>
            {{end}}
            {{- range $.Site.Data.config.links -}}
            <li><a href="{{.link}}">{{.link_name}}</a></li>
            {{- end -}}
        </ul>
        <a href="https://webring.wonderful.software#garden.narze.live" title="วงแหวนเว็บ" style="width: 32px; display: block; margin: 0 auto;">
            <img
                alt="วงแหวนเว็บ"
                width="32"
                height="32"
                src="https://webring.wonderful.software/webring.white.svg"
            />
        </a>
    </footer>
</div>
